:root {
    --titleSize: 30px;
    --labelSize: 17px;
    --paragraphSize: 15px;
    --smallTextSize: 13px;

    --radiusOne: 20px;
    --radiusTwo: 15px;
    --radiusThree: 10px;
    --radiusFour: 5px;

    --mainColor-light:      #4A6670;
    --secondaryColor-light: #E7E5DF;
    --blackColor-light:     #000000;
    --whiteColor-light:     #FFFFFF;

    --mainColor-dark:       red;
    --secondaryColor-dark:  rgb(180, 180, 180)F;
    --whiteColor-dark:      rgb(155, 155, 155);

    --shadowColor:          gray;

    --transitionOne: 0.5s;
}