/* WARNING: This is all temporary code. Code quality was not considered */

/* The message board */
#messageboard {
    display: none;
    flex-direction: row;
}

/* The whole message area */
#messagearea {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* The server sidebar */
#server {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    width: 15%;
}

/* The message box */
#newmessage {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: visible;
    resize: vertical;
    resize: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

/* The whole input area */
#messageinput {
    position: relative;
    height: auto;
}

/* All the messages */
#messages {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 100%;
    width: auto; 
    padding: 8px;
    padding-bottom: 1rem;
    overflow-y: auto;
}

#messages * {
    background-color: rgb(60, 60, 60);
}

/* The login form */
#loginform {
    position: absolute;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    top: 35%;
    height: 30%;
    padding: 8px;
    border-radius: 10px;
    min-height: 309.4px;
}

/* The connect button */
#connect {
    background-color: cornflowerblue;
    bottom: 0px;
    margin-top: auto;
    height: 20%;
    cursor: grab;
}

/* The Aroma Chat title */
#aroma {
    text-align: center;
}

/* The send button */
#send {
    width: 10%;
    background-color: cornflowerblue;
    cursor: grab;
}

/* The div that aligns messages to the bottom */
#dummydiv {
    visibility: hidden;
    margin-top: auto;
}
